<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property resource="application-secrets.properties"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId=%X{traceId}] %-5level %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="MATTERMOST" class="io.github.pendula95.logback.MattermostAppender">
        <!-- Mattermost incoming webhook uri - MANDATORY -->
        <webhook>${MATTERMOST_WEBHOOK}</webhook>

        <!-- If color coding of log levels should be used -->
        <colorCoding>true</colorCoding>

        <!-- Formatting (you can use Mattermost formatting - URL links, code formatting, etc.) -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>**${HOSTNAME} %date{"yyyy-MM-dd'T'HH:mm:ssXXX"} %logger{128}** %n%msg%n</pattern>
        </layout>
    </appender>


    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root>
            <level value="INFO"/>
            <appender-ref ref="MATTERMOST"/>
        </root>
    </springProfile>
</configuration>
